<div *ngIf="mensagem" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{mensagem}}</strong>
    <button type="button" class="btn-close" (click)="fecharMensagem()" aria-label="Close"></button>
</div>

<div class="card mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <pagination-controls (pageChange)="handlePageChange($event)" previousLabel="Página anterior"
                    nextLabel="Próxima página">
                </pagination-controls>
            </div>
            <div class="col-md-4">
                <select class="form-select" (change)="filtrarCardapio($event)">
                    <option value="0">TODOS OS PRODUTOS</option>
                    <option *ngFor="let item of categorias" value="{{item.id}}">
                        {{item.nome | uppercase}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="card mb-2"
    *ngFor="let item of cardapio | paginate : { itemsPerPage : 3, currentPage : page, totalItems : cardapio.length }">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <img src="{{url}}{{item.foto}}" class="img-fluid" />
            </div>
            <div class="col-md-8">
                <h5>{{item.nome}}</h5>
                <p>{{item.descricao}}</p>
                <h6><span class="badge bg-secondary">{{item.categoria.nome}}</span></h6>
            </div>
            <div class="col-md-2">
                <h5>{{item.preco}}</h5>
                <div>
                    <a href="#" class="btn btn-success" data-bs-target="#modal_produto" data-bs-toggle="modal"
                        (click)="obterItem(item)">
                        Comprar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Janela modal com os dados do produto -->
<div id="modal_produto" class="modal fade">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{url}}{{produto.foto}}" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h4>{{produto.nome}}</h4>
                        <h6><span class="badge bg-secondary">{{produto.categoria.nome}}</span></h6>
                        <p>
                            {{produto.descricao}}
                        </p>
                        <h3>{{produto.preco}}</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="adicionarItem(produto)">
                    Adicionar ao Pedido
                </button>
            </div>
        </div>
    </div>
</div>

