<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{{dadosRestaurante.nomeRestaurante}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Cardápio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cesta-de-compras">Minha Cesta de Compras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cadastro-clientes">Criar Conta de Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login-cliente">Acessar Conta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="finalizar-pedido">Finalizar Pedido</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="mt-4 container">

  <div class="row">
    <div class="col-md-3 text-center">
      <img src="{{dadosRestaurante.foto}}" class="img-fluid" width="200"/>
      <div>
        {{dadosRestaurante.descricao}}
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

