<div>
    <h5>Minha cesta de compras</h5>
    <hr />

    <div *ngIf="dados.itens.length > 0">

        <div class="row mb-3">
            <div class="col-md-9 text-end">
                <h4>
                    Total: <strong>{{dados.total | currency : 'R$'}}</strong>
                </h4>
            </div>
            <div class="col-md-3">
                <div class="d-grid">
                    <a href="/finalizar-pedido" class="btn btn-success">
                        Finalizar Pedido
                    </a>
                </div>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nome do Item</th>
                    <th class="text-end">Preço</th>
                    <th class="text-end">Quantidade</th>
                    <th class="text-end">Total</th>
                    <th class="text-center">Operações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dados.itens">
                    <td>
                        <img src="{{url}}{{item.foto}}" style="width: 60px;" />
                    </td>
                    <td>
                        {{item.nome}}
                        <br />
                        <small>{{item.categoria.nome}}</small>
                    </td>
                    <td class="text-end">{{item.precoDecimal | currency : 'R$'}}</td>
                    <td class="text-end">{{item.quantidade}}</td>
                    <td class="text-end">{{(item.precoDecimal * item.quantidade) | currency : 'R$'}}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-primary btn-sm" (click)="adicionarItem(item)">
                            +
                        </button>
                        &nbsp;
                        <button class="btn btn-outline-danger btn-sm" (click)="removerItem(item)">
                            -
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="text-end">
                            <button class="btn btn-outline-danger btn-sm"
                                (click)="apagar()">
                                Remover todos os itens
                            </button>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div *ngIf="dados.itens.length == 0">
        <div class="alert alert-warning">
            <strong>Não há itens na sua cesta de compras.</strong>
            <hr/>
            <a href="/">Clique aqui</a> para ver nosso cardápio.
        </div>
    </div>

</div>


